nav {
  border: black 2px solid;
}

ul {
  list-style:none;
  display: flex;
  justify-content: space-around;
}

a {
  padding: 5px;
  margin: 5px;
  background: steelblue;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}